* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: regular;
}
html {
  scroll-behavior: smooth;
}
.dn {
  display: none;
}

.df {
  display: flex;
}

a {
  text-decoration: none;
}

// -------font-face-------
@font-face {
  font-family: boldfont;
  src: url("../Font/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: regular;
  src: url("../Font/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
}
//------------------------

$smallDevice:743px;
$largeDevice:1127px;
$mediumDevice:949px;
//added by sepideh
$eightDevice:830px;
$xsmallDevice :588px;
$xxsmallDevice :488px;
$xxxsmallDevice :375px;


@mixin minMeddevic {
  @media (min-width:950px) {
    @content;
  }
}
@mixin minsmalldevic {
  @media (min-width:743px) {
    @content;
  }
}
@mixin mediumDevice {
  @media (max-width: $mediumDevice) {
    @content;
  }
}

@mixin smallDevice {
  @media (max-width: $smallDevice) {
    @content;
  }
}
@mixin xsmallDevice {
  @media (max-width: $xsmallDevice) {
    @content;

  }
}
@mixin xxsmallDevice {
  @media (max-width: $xxsmallDevice) {
    @content;

  }
}
@mixin xxxsmallDevice {
  @media (max-width: $xxxsmallDevice) {
    @content;

  }
}

@mixin largeDevice {
  @media (max-width: $largeDevice) {
    @content;
  }
}

@mixin eightDevice {
  @media (max-width: $eightDevice) {
    @content;
  }
}

// ------hero section------
//$alaki:550px;
.hero-section {
  height: 100%;
  width: 100%;
  background-size: cover;
  height: 130vw;
  //height: 558px;
  overflow: hidden;
 // height: calc(1.3 * 100vw) !important;


  
   @include minsmalldevic(){
   //height: calc(1.3 * 100vw);
   height: 80vw;
  }
  @include minMeddevic(){
   // height: max(550px, min(85vh, calc(var(--lg-height, 9) / var(--lg-width, 16) * 100vw))) !important;
    height: Max(550px, Min(85vh, (0.56 * 100vw)));
  }

}

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../Images/Hero-2560.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @include mediumDevice(){
    background-image: url(../Images/medium.jpg);
    background-position: center bottom;
    object-fit: cover;
  }
  @include smallDevice(){
    background-image: url(../Images/Small.jpg);
    background-size: cover;
    background-position: center top;
  }
  }
  .headermenu{
    width: 100%;
    position: fixed;
  }

  .mobile-size-button{
    background-color: white;
    border: none;
    cursor: pointer;
    padding-left: 24px;
    
  }
    .mobile-size-input {
      border: none;
      background-color: white;
      color: #717171;
      padding-left: 18px;
    }
    .tinpmobile{
      margin-left: 20px;
    }
    .input:focus{
      outline: none;
    }
    .ptmobile{
      margin-left: 32px;
    margin-right: 32px;
    }
  .innerheader {
    padding-left: 80px;
    padding-right: 80px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    display: flex;
   // position: fixed;
    z-index: 10;
      @include minMeddevic(){
        max-width: 1760px;
        margin-left: auto;
        margin-right: auto;
      }
      @include largeDevice() {
        padding-left: 40px;
        padding-right: 40px;
      }
      @include smallDevice(){
        display: none;
      }
  
}

.activemenu {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
}

.header-container {
  height: 80px;
 
}

.small-size-bgcolor{
  background-color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
}
.small-size-header{
    display: none;
    flex: 1 1 0% !important;
    overflow: hidden !important;
    position: relative !important;
    align-items: center !important;
    white-space: nowrap !important;
    height: 48px !important;
    align-items: center !important;
    border-radius: 24px !important;
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important;
    //box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
    margin-top: 16px !important;
    margin-left: 24px !important;
    margin-right: 24px !important;
    justify-content: center;
    @include smallDevice(){
      display: flex;
    }
    input{ 
    border: none;
    }
    svg{
      color: rgb(255, 56, 92);
    }
}

.redColor{
  color: rgb(255, 56, 92) !important;
}
.grayColor{
  color:rgb(176, 176, 176);
}

.ssize-header-container
{
    width: 100%;
    z-index: 100;
    transition: background-color 0.4s cubic-bezier(0.35, 0, 0.65, 1) 0s;
    padding-bottom: 10px;
    position: fixed;
    top: 0px;
}

.gray-border-bottom {
  border-bottom: 1px solid rgb(226, 226, 226);
  transition: background-color 0.4s cubic-bezier(0.35, 0, 0.65, 1) 0s;

}
.ssize-back-color{
  @include smallDevice(){
  background-color: rgb(255, 255, 255);
  input {
    background-color: rgb(245, 244, 244);
  }
 
  
  }
}
input:focus{
  outline: none;
}


.small-size-footer{
  -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(221, 221, 221);
    bottom: 0px;
    height: 65px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    right: 0px;
    z-index: 101;
    //transition: -ms-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, -webkit-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, visibility 0s ease 0s !important;
    transition: -ms-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, -webkit-transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, visibility 0.2s ease 0s !important;
    display: none;
 @include smallDevice(){
   display: block;
  }
  }
.inner-container-footer{
  justify-content: center;
  -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgb(221, 221, 221);
    bottom: 0px ;
    height: 65px;
    left: 0px;
    overflow: hidden;
    position: fixed;
    right: 0px ;
    z-index: 100 ;
    margin: 0px auto ;
    max-width: 560px ;
    transition: -ms-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, -webkit-transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, visibility 0s ease 0s !important;
  }
  .foo-link{
    -webkit-box-pack: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-align: center;
    outline: none;
    align-items: center ;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex: 1 1 0px ;
    flex-direction: column;
    height: 64px;
    hyphens: auto ;
    justify-content: center;
    max-width: 20% ;
    min-width: 0px;
    padding: 0px 2px;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: rgb(34, 34, 34);
  }

  .-graytext{
    font-size: 10px;
    line-height: 12px;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    overflow-wrap: break-word;
    color:rgb(113, 113, 113);  }
  
  .small-footer-text{
  font-size: 10px;
    line-height: 12px;
    max-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
    overflow-wrap: break-word;
  color: #000;
padding-top: 5px;}


.logo {
  display: none;
  @include largeDevice() {
    display: block;
  }
}

.logoname{
  display: block;
  @include largeDevice(){
    display: none;
  }
}

.centerlinks {
  text-decoration: none;
  @include largeDevice(){
  font-size: 14px;
  }
  @include mediumDevice(){
    font-size: 16px;
  }
}

.clink {
  color: #fff;
  font-family: regular;
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  white-space: nowrap;
  @include largeDevice(){
    padding-left: 6px;
  }
  @include mediumDevice(){
    padding-left: 0px;
  }
}

.exp:hover {
  opacity: 0.8;
  text-decoration: none;
}

.exp:hover:before {
  transform: scaleX(0.25);

  display: block;
}

.onlineexp:hover:before {
  transform: scaleX(0.25);
  display: block;
}

.onlineexp:hover {
  opacity: 0.8 !important;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  @include mediumDevice(){
    width: 380px;
  }
}

.places::before {
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.onlineexp::before {
  display: none;
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  bottom: 0px;
  margin-left: -9px;
  position: absolute;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.places.placesBlack::before,
.onlineexp.onlineexpBlack::before,
.exp.expBlack::before {
  background-color: #000;
}


.exp::before {
  display: none;
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.places,
.exp,
.onlineexp {
  position: relative;
}

.host {
  color: #fff;
  text-decoration: none;
  font-family: boldfont;
  padding: 5px;
  font-size: 14px;
  white-space: nowrap;
}

.sign-in-logo {
  width: 30px;
  height: 30px;
  color: #717171;
}

.sign-in-button {
  padding: 5px 5px 5px 12px;
  border: 1px solid #fff;
  border-radius: 21px;
  height: 42px;
  position: relative;
  vertical-align: middle;
  transition: box-shadow 0.2s ease;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}

.sign-in-logo {
  margin-left: 12px;
}

.hostcontainer {
  margin-right: 8px;
}
.right-menu {
  position: relative;
  @include eightDevice(){
    transform: translateX(-80px);
  }
}


.right-menu,
.hostcontainer {
  align-items: center;
  flex: 0;
}

.language {
  padding: 12px 14px;
}

.host:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
}

.language:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
}

.hamburger-menu {
  color: #222222;
}



.mobile-top-menu{
  height: 100vh;
  width: 100vw;
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0,  0.2) !important;
  //padding-top: 16px;
  
}
.mobile-size-input{
  width: 100% !important;
  min-height: 1px !important;
  border: none !important;
  outline: none !important;
  color: #717171 !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  padding-left: 8px !important;
  text-overflow: ellipsis !important;
  padding-right: 36px !important;
  margin-left: 18px;
  margin-right: 36px;
}
.mobile-headercontainer{
  display: flex;
  padding-left: 8px;
  margin-top: 25px;
  margin-bottom: 20px;

}
.whitemenu {
  //margin: 0 auto;
  //max-width: 850px;
  background-color: #fff;
  border-radius: 32px;
  height: 66px;
  width: 850px;
  //min-width: 850px;
 // z-index: 11;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all .2s;
  align-self: center;
  @include mediumDevice(){
    max-width: 850px;
    width: 90vw;
    transition: none;
   // margin-right:30px;
  }
}

.whiteActive {
  height: 46px;
  width: 300px;
  margin-top: 16px;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  color: #222222;
  cursor: pointer;
  transition: all .2s;
}

.whiteActive:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}


.add-dates {
  font-family: regular;
  font-size: 14px;
  color: #717171;
  line-height: 18px;
  font-weight: 400;
}
.add-dates-s{
  font-family: regular;
  font-size: 14px;
  color: #222222;
  line-height: 18px;
  font-weight: 400;
  width: 95px;
  white-space: nowrap;
  //width: 115px;
}
.addellipsis{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95px;
}

.guest {
  background: transparent;
  border: 0px;
  cursor: pointer;
  padding: 14px 24px;
}

.check-in-container {
  color: #222222;
  text-align: left;
  flex: 1;
}

.check-out-container {
  color: #222222;
  text-align: left;
  flex: 1;
}

.location-container {
  //flex: 1.5 0 0% ;
  color: #222222;
  text-align: left;
  margin-top: 0;
  @include smallDevice(){
    padding: 14px 24px;;
  }
}

//to add the borderline between item
.onhover::after {
  -webkit-align-self: center;
  align-self: center;
  border-right: 1px solid #dddddd;
  -webkit-flex: 0 0 0px;
  -ms-flex: 0 0 0px;
  flex: 0 0 0px;
  height: 32px;
  content: "";
}

.location-container::after {
  -webkit-align-self: center;
  align-self: center;
  border-right: 1px solid #dddddd;
  -webkit-flex: 0 0 0px;
  -ms-flex: 0 0 0px;
  flex: 0 0 0px;
  height: 32px;
  content: "";
}

.onhover {
  cursor: pointer;
}

// to make the border line disappear on hover
.onhover:hover::after {
  opacity: 0;
}

.check-in-container:hover~.location-container::after {
  opacity: 0;
}

// to make the background gray on hover
.onhover:hover {
  background-color: #ebebeb;
  border-radius: 32px;
}

.guest-container:hover {
  background-color: #ebebeb;
  border-radius: 32px;
}

.guest-container.removeHover:hover {
  background-color: unset;
}

.guest-container {
  align-items: center;
  padding-right: 9px;
  border-radius: 32px;
  flex: 1.2;
  justify-content: space-between;
}

.check {
  padding: 14px 24px;
  width: 100%;
}

.location {
  padding: 14px 75px 14px 32px;
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
  min-width: 0px;
}

.txt-loc,
.txt-chin,
.txt-chout,
.txt-guest {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  font-family: boldfont;
}

.type-location:focus {
  outline: none;
}

.type-location {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #222222;
  text-overflow: ellipsis;
  outline: none;
  border: none;
  background-color: transparent;
}

.centerheader {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: center;
  max-width: 500px;
  padding-left: 70px;
  flex: 5;
  @include largeDevice(){
    padding-left: 191px;
  }
  @include eightDevice(){
    padding-left: 130px;
  }
  @include mediumDevice(){
    padding-top: 65px;
  }

}
.headermenu.active::before {
  background-image: unset;
}

.headermenu::before {
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  content: "";
  height: 140%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  -webkit-transition: 150ms opacity ease;
  -moz-transition: 150ms opacity ease;
  transition: 150ms opacity ease;
  opacity: 0.4;
}

.idnafter {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  content: "";
  height: 140%;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  transition: opacity 150ms ease 0s;
}

.hero-question {
  color: #222222;
  font-size: 18px;
  font-family: boldfont;
}

.hero-text {
  padding: 300px 80px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //z-index: 500;

   @include smallDevice(){
    padding: 110px 35vw 40px;
     text-align: center;

    }
   @include xsmallDevice(){
      padding: 110px 32vw 40px;
      text-align: center;
     }
    @include xxsmallDevice(){
    padding: 110px 25vw 40px;
      text-align: center;
    }
   @include xxxsmallDevice(){
    padding: 110px 20vw 40px;
    text-align: center;
  }
 
}


.flexible-button {
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  background: lightgrey;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border: 1px, solid, black;
  border-radius: 54px;
  padding: 22px 60px;
  transition: box-shadow 0.2s ease-out, -ms-transform 0.2s ease-out,
    -webkit-transform 0.2s ease-out, transform 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-top: 16px;
  @include smallDevice(){
    padding: 14.5px 32px !important;
    z-index: 0;
    
  }
}

.flexible-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: regular;
  font-weight: 800;
  line-height: 20px;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flexible-button:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.type-location::placeholder {
  color: #717171;
  font-size: 14px;
  font-family: regular;
  font-weight: 400;
}
.removeafter::after {
  display: none;
}

.search-button {
  padding-right: 9px;
  position: relative;
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1);
  color: #ffffff;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  border-radius: 24px;
  height: 48px;
  width: 48px;
  max-width: 48px;
  z-index: 0;
  background: rgb(255, 56, 92);

}

.searchBtnActive {
  position: absolute;
  right: 5px;
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
}

.search-button::before {
  background: -webkit-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: -moz-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  bottom: 0px;
  content: "" ;
  left: 0px ;
  position: absolute;
  right: 0px ;
  top: 0px ;
  -moz-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) ;
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) ;
  z-index: 0 ;
  opacity: 0 ;
  border-radius: 24px;
}

.whitemenuText {
  align-self: center;
  margin-left: 20px;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  display: none;
}

.searchsvg {
  margin-left: 16px;
  margin-top: 16px;
  z-index: 200;
  position: absolute;
}

.searchsvgActive {
  height: 12px;
  width: 12px;
  margin: auto;
  margin-top: 8px;

}

.search-button:hover::before {
  opacity: 1 !important;
}


// -------------------------------end Css hero-section sepideh
// -------------------------------start main one sepideh
.main {

  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nearby {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 80px;
  padding-left: 80px;
  font-weight: 800;
  line-height: 52px;
  width: 100%;
  max-width: 1760px;
  @include smallDevice(){
    padding-left: 0px;
    padding-right: 0px;
  }
  @include minMeddevic(){
    margin-right: auto;
    margin-left: auto;
  }


  .nearby-title {
    padding-bottom: 16px;
    font-size: 32px;
    color: #222222;
    font-family: boldfont;
    @include largeDevice() {
      font-size: 26px;
    }
    @include smallDevice() {
      font-size: 22px;
    }
  }

  .nearbypics::-webkit-scrollbar {
    display: none !important;
  }
  .nearbypics {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: -8px !important;

    @include largeDevice() {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto) !important;
      grid-auto-flow: column !important;
      overflow-x: auto !important;
      padding: 0px;
      margin: 0px;
    }
  
    @include smallDevice() {
      overflow-x: scroll ;
      gap: 12px ;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(3, calc(100% - 108px)) 100%;
      grid-auto-flow: column ;
      scroll-snap-type: x mandatory ;
  
    }
  }
}

.pic{
  scroll-snap-align: start;
}

.one {
  .citypic {
    background-image: url("../Images/berlin.jpg");
  }
}

.two {
  .citypic {
    background-image: url("../Images/Hamburg.jpg");
  }
}

.three {
  .citypic {
    background-image: url("../Images/Cologne.jpg");
  }
}

.four {
  .citypic {
    background-image: url("../Images/Leipzig.jpg");
  }
}

.five {
  .citypic {
    background-image: url("../Images/D.webp");
  }
}

.six {
  @include largeDevice() {
    display: none;
  }
  @include smallDevice() {
    display: block;
  }
  .citypic {
    background-image: url("../Images/Dresden.jpg");
  }
}

.seven {
  @include largeDevice() {
    display: none;
  }
  @include smallDevice() {
    display: block;
  }
  .citypic {
    background-image: url("../Images/Nuremberg.jpg");
  }
}

.eight {
  .citypic {
    background-image: url("../Images/Hanover.jpg");
  }
}

.city {
  font-size: 16px;
  line-height: 20px;
  color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  text-decoration: none;
}

.citypic {
  margin-right: 16px;
  flex: 0 0 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
  background-color: rgb(221, 221, 221);
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  @include largeDevice() {
    background-size: 72px 72px;
    height: 72px;
    flex: 0 0 72px;
  }
}

.caption {
  flex: 0 1 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
}

.cname {
  flex: 0 1 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
  font-family: boldfont;
}

.citytxt {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  font-family: regular;
  font-weight: 400;
}


// -------------------------------end main one sepideh
.profilemenu {
  width: 240px;
  height: 243px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 500;
  padding: 10px;
  display: none;
}
.up {
  border-bottom: #dddddd solid 1px;
  margin-left: -10px;
  margin-right: -10px;
  .sin {
    font-weight: 600;
  }
}
.up,
.down {
  flex-direction: column;
  a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: regular;
    margin: 15px;
  }
}

.location-input-menu{
  display: none;
}
.location-input-menu{
  position: absolute;
    left: 0px;
    top: 100%;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0,  0.2) !important;
    margin-top: 12px !important;
    max-height: -webkit-calc(100vh - 220px);
    max-height: -moz-calc(100vh - 220px);
    max-height: calc(100vh - 220px);
    overflow-x: hidden;
    overflow-y: auto;
    padding: 16px 32px !important;
    //padding: 8px 0 0 !important;
    //margin: 0 -32px -8px !important;
    width: 500px !important;
    height: 160px;
    }

    .title-input-menu{
      text-transform: uppercase ;
      font-size: 12px;
      line-height: 12px ;
      font-weight: 800 ;
      padding: 18px 32px 16px 12px !important
    } 
    .purple-text{
      -webkit-text-fill-color: transparent !important;
      background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
      -webkit-background-clip: text;
      background-clip: text;
      font-size: 18px;
          font-weight: 800;
      
      }

      .purple-flexible-container:hover{
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;}
      .purple-flexible-container{
        -webkit-box-align: center !important;
        cursor: pointer;
        //-webkit-box-direction: reverse !important;
        -webkit-box-orient: horizontal !important;
        display: flex !important;
        justify-content: space-between;
        //width: 100% !important;
        //flex-direction: row-reverse !important;
        align-items: center !important;
        padding: 8px 24px !important;
        margin-top: 8px !important;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
        border-radius: 32px !important;
        height: 58px !important;
        border: 1px solid rgb(221, 221, 221) !important; 
      }
      
  
      .guest-menu{
        display: none;
        position: absolute !important;
        //left: 55% !important;
        top: 100% !important;
        right: 0%;
        z-index: 1 !important;
        background: #FFFFFF !important;
        border-radius: 32px !important;
        box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
        margin-top: 12px !important;
        max-height: -webkit-calc(100vh - 220px) !important;
        max-height: -moz-calc(100vh - 220px) !important;
        max-height: calc(100vh - 220px) !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        padding: 16px 32px !important;
    }
    
    .plus-button:hover{
        color: rgb(34, 34, 34) !important;
        border-color: rgb(34, 34, 34) !important;
        background: rgb(255, 255, 255) !important;
    }
    #bordered{
      border-bottom: 1px solid rgb(235, 235, 235) !important;
    }
    
    .search-close{
    //display: flex;
    //opacity: 0;
    display: none;
    }
    .circle-close{
      appearance: none !important;
      display: none;
      //opacity: 0;
      //display: flex !important;
      justify-content: center;
      align-items: center;
      border-radius: 50% !important;
      border: none !important;
      outline: none !important;
      margin: 0px !important;
      padding: 0px !important;
      color: rgb(34, 34, 34) !important;
      cursor: pointer !important;
      touch-action: manipulation !important;
      position: relative !important;
      background: transparent !important;
      transition: -ms-transform 0.25s ease 0s, -webkit-transform 0.25s ease 0s, transform 0.25s ease 0s !important;
      content: "" !important;
       // display: block !important;
        position: absolute !important;
        top: 50% !important;
        left: 83% !important;
        transform: translate(-50%, -50%) !important;
        width: 24px !important;
        height: 24px !important;
        border-radius: 50% !important;
        background: rgb(235, 235, 235) !important; 
        z-index: 20;
    }
    .searchclass{
      background: -webkit-linear-gradient(
        to right,
        #e61e4d 0%,
        #e31c5f 50%,
        #d70466 100%
      ) !important;
      background: -moz-linear-gradient(
        to right,
        #e61e4d 0%,
        #e31c5f 50%,
        #d70466 100%
      ) !important;
      background: linear-gradient(
        to right,
        #e61e4d 0%,
        #e31c5f 50%,
        #d70466 100%
      ) !important;
     // bottom: 0px !important;
      //content: "" !important;
     // left: 0px !important;
      //position: absolute !important;
      //right: 0px !important;
     // top: 0px !important;
      /* -webkit-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important; */
      -moz-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important;
      transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important;
      /* will-change: opacity !important; */
      z-index: 0 !important;
      opacity: 1 !important;
      border-radius: 24px;
     }
    
    
    .searchAppear{
      display: none;
      position: absolute;
      margin-left: 40px;
      margin-top: 16px;
      z-index: 200;
    }
    
    .increaseWidth{
      max-width: 111px;
      width: 111px;
    }
    
    .age{
      -webkit-box-pack: justify !important;
        -webkit-box-align: center !important;
        color: rgb(34, 34, 34) !important;
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        padding-right: 4px !important;
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        min-width: 330px !important;
    }
    
    .range{
      font-size: 14px !important;
      line-height: 18px !important;
      font-weight: 400 !important;
      color: rgb(113, 113, 113) !important;
    }
    .bold-adults{
      font-size: 16px !important;
        line-height: 20px !important;
        font-weight: 600 !important;
    }
    .pointer{
      cursor: pointer;
    }
    .plus-minus{
      -webkit-box-pack: justify !important;
        -webkit-box-align: center !important;
        display: inline-flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        width: 104px !important;
        height: 32px !important;
        color: rgb(34, 34, 34) !important;
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        .input{
          border: none;
          font-size: 14px;
          margin: 0%;
          padding: 0%;
    
        }
        .ct{
          cursor: not-allowed !important;
        }
    
        .mbeffect{
            color: rgb(235, 235, 235) !important;
            border-color: rgb(235, 235, 235) !important;
            background: rgb(255, 255, 255) !important;
        }
      button{
        -webkit-box-pack: center !important;
        -webkit-box-align: center !important;
        -webkit-box-flex: 0 !important;
        width: 32px !important;
        height: 32px !important;
        flex-grow: 0 !important;
        flex-shrink: 0 !important;
        cursor: pointer !important;
        display: inline-flex !important;
        margin: 0px !important;
        padding: 0px !important;
        text-align: center !important;
        text-decoration: none !important;
        border-width: 1px !important;
        border-style: solid !important;
        border-color: rgb(176, 176, 176) !important;
        color: rgb(113, 113, 113) !important;
        font-family: inherit !important;
        outline: none !important;
        touch-action: manipulation !important;
        align-items: center !important;
        justify-content: center !important;
        background: rgb(255, 255, 255) !important;
        border-radius: 50% !important;
      }
    }
    .clickeffect{
      background-clip: padding-box !important;
      border: 1px solid rgb(255, 255, 255) !important;
      border-radius: 32px !important;
      background-color: rgb(255, 255, 255) !important;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
  }
    
//----------------------------------------end sepideh

/********************************************helia-main2**********************************************/

/*
.main-two-1{
  font-family: boldfont;
  margin-top: 80px;
  padding: 0 80px 0 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(34, 34, 34);
}

.afghan{
  display: flex;
  margin: 48px 0px
}
.afghan-title{  
  width:50%;
  h1{
      font-size: 32px;
      line-height: 36px;
      font-weight: 800;


  }
}

.afghan-text{
  font-size: 20px ;
  line-height: 28px ;
  width: 50%;
}
*/



/*****************Live anywhere- Helia********************/

.main-two-2 {

  margin-top: 40px;
  width: 100%;
}

.live-pic::-webkit-scrollbar{
  display: none !important;
}
.liveAnywhere {
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1760px;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
  @include largeDevice(){
   padding: 0 40px 0 40px;
  }
  @include smallDevice(){
    padding: 0 24px 0 24px;
    width: 100%;
  }
 
  h1 {
    font-family: boldfont;
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    padding: 7px;
    @include largeDevice(){
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
    }
  }

  .live-pic {
    width: 100%;
    margin-top: 10px;
    scroll-behavior: smooth;
    @include largeDevice(){
      scrollbar-width: none !important;
      height: 100% !important;
      overflow: auto hidden !important;
      margin-top: 0px !important;
      min-width: 100% !important;
      scroll-snap-type: x mandatory !important;
    }
  
  }
}

.m-2-2-pic {
  flex-direction: column;
  max-width: 25%;
  @include largeDevice(){
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    overflow: clip !important;
  }
  @include smallDevice(){
    max-width: 300px;
    width: 285px;
    flex: 0 0 auto;
    overflow: clip !important;
  }

  a {
    padding: 7px;
    cursor: pointer;
    text-decoration: none;
    @include smallDevice(){
      width: 272px;
    }

    img {
      border-radius: 10px;
      width: 100%;
      @include smallDevice(){
        width: 272px;
      }
    }

    p {
      font-family: regular;
      color: rgb(34, 34, 34);
      font-size: 20px;
      padding-top: 8px;
      @include smallDevice(){
        font-size: 18px !important;
        line-height: 22px !important;
      }
    }
  }

}
#nextBtn{
  position: absolute;
  right: 30px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 1px 2px rgba(230, 202, 202, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  background-color:  #ffffff;
  cursor: pointer;
  display: none;
  @include largeDevice(){
    display: block ;
  }
  @include smallDevice(){
  display: none;
  }

}
#prevBtn{
  position: absolute;
  left: 30px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color:  #ffffff;
  border: none;
  display: none;
}


/********try hosting - Helia*********/
.main-two-3 {
  margin-top: 40px;
  width: 100%;
  font-family: regular;

  .m-2-3-container {
    padding-right: 80px;
    padding-left: 80px;
    max-width: 1760px;
    height: 402px;
    cursor: pointer !important;
   @include largeDevice(){
     height: 362px;
     padding-right: 40px;
    padding-left: 40px;
   }
   @include smallDevice(){
     height: 848px;
     padding-left: 24px;
     padding-right: 24px;
   }


  }


}

.tryHosting {
  width: 100%;
  background-image: url(../Images/tryHosting-desktop.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  border-radius: 15px;
  @include largeDevice(){
    background-image: url(../Images/tryHosting-large.jpg);
  }
  @include smallDevice(){
    background-image: url(../Images/tryHosting-mobile.jpg);
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
  }
}

.m-2-3-text {
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-top: 130px;
  max-width: 544px;
  @include largeDevice(){
    padding-left: 40px;
    padding-top: 80px;
  }
  @include smallDevice(){
    padding: 32px 32px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    
  }

  h1 {

    font-size: 48px;
    line-height: 52px;
    font-weight: 600;
    letter-spacing: 2px;
    @include largeDevice(){
      font-size: 30px !important;
      line-height: 36px !important;
      letter-spacing: 0;
    }
  }

  p {
    padding-top: 12px;
    font-size: 18px;
    line-height: 24px;
    @include largeDevice(){
      font-size: 16px !important;
      line-height: 20px !important;
      max-width: 280px;
    }
    @include smallDevice(){
      max-width: 433px;
    }
  }

  .lm {
    margin-top: 40px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 16px !important;
    line-height: 20px !important;
    padding: 14px 24px;
    display: inline-block;
    border-radius: 10px;
    width: max-content;
    @include largeDevice(){
      padding: 9px 16px !important;
      margin-top: 36px;
      font-size: 14px !important;
      line-height: 18px !important;
      font-weight: 500 !important;
    }
    @include smallDevice(){
      margin-top: 18px;
    }
  }
}

/**********Discover things to do - Helia**************/
.main-two-4 {
  margin-bottom: 30px;
  margin-top: 60px;
  width: 100%;
}
.discoverThings::-webkit-scrollbar{
  display: none !important;
}
.discoverThings {
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1760px;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
  @include largeDevice(){
    padding-right: 40px;
    padding-left: 40px;
  }
  @include smallDevice(){
    scrollbar-width: none !important;
    height: 100% !important;
    overflow: auto hidden !important;
    margin-top: 0px !important;
    min-width: 100% !important;
    scroll-snap-type: x mandatory !important;
    padding-left: 24px;
    padding-right: 24px;
  }

  h1 {
    font-family: boldfont;
    color: #222222;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    padding: 7px;
    @include smallDevice(){
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 28px;
    }
  }

  div {
    width: 100%;
    margin-top: 10px;
    @include smallDevice(){
      margin: 0;
      width: 285px;
    }
  }
}

.m-2-4-pic {
  flex-direction: column;
  max-width: 33%;
  @include smallDevice(){
    max-width: 300px;
    flex:0 0 auto;
    width: 272px;
    overflow: clip !important;
  }

  a {
    padding: 7px;
    cursor: pointer;
    text-decoration: none;
    position: relative;

    img {
      border-radius: 10px;
      width: 100%;
      @include smallDevice(){
        width: 272px;
      }
    }

    h5 {
      font-family: regular;
      color: rgb(34, 34, 34);
      font-size: 20px;
      padding-top: 8px;
      @include smallDevice(){
        font-size: 18px !important;
        line-height: 22px !important;
        max-height: 44px !important;
      }
    }

    p {
      font-family: regular;
      color: rgb(34, 34, 34);
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      @include smallDevice(){
        font-size: 14px !important;
        line-height: 18px !important;
        max-height: 54px !important;
        color: rgb(113, 113, 113) !important;
        font-weight: 400 !important;
        margin-top: 4px !important;
      }
    }
  }

}

.pl0 {
  padding-left: 0px;
}

.pr0 {
  padding-right: 0px;
}

//end main two- helia

//start-inspiration//samira--------------------------------------

.container__inspiration {
  font-family: 'regular';
  padding: 0 5em;


  h1 {
    padding: 1.1em 0;
    font-weight: 700;
  }

  .distination__items {
    @include largeDevice {
      overflow: auto;
      white-space: nowrap;
    }

  }

  button {
    font-family: 'regular';
    font-size: 1em;
    font-weight: 500;
    border-radius: 8px;
    border: medium none;
    margin: 1em 0;
    background: transparent none repeat scroll 0% 0%;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, transform 0.1s ease 0s, transform 0.1s ease 0s;
    outline: currentcolor none medium;
    padding-right: 1.5em;
    height: 40px;

    &:hover {
      cursor: pointer;
      background-color: #dddddd;
    }

  }
}

.container__inspiration .country {
  flex-wrap: wrap;
  padding-top: 1.5em;
  border-top: 1px solid rgb(221, 221, 221);


  a {
    color: rgb(34, 34, 34);
  }

  .country__items {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;


    @include largeDevice {
      flex-basis: 33.3%;
      width: calc(100% + 16px) !important;
    }

    @include smallDevice {
      flex-basis: 50%;

    }
  }

  .cites {
    flex-direction: column;
    margin-bottom: 2em;
  }

  a:nth-child(2) {
    color: rgb(113, 113, 113);
    padding-top: 2px;
    font-size: 85%;
  }


}


//end-inspiration//samira---------------------------------------

//footer Samira
.footer {
  background-color: rgb(247, 247, 247);
  border-top: 1px solid rgb(221, 221, 221);
  font-family: regular;
  overflow: hidden;


  a {
    text-decoration: none;
  }
}

.footer__links {
  display: flex;
  padding: 2em 5em;


  .footer__links--column {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;

    a {
      color: rgb(34, 34, 34);
      padding-bottom: 1.55em;
      // font: 400 .875em/1.125 regular;
      font-weight: 400;
      font-size: .875em;


    }
  }
}

.footer__links--column-title {
  font-size: .875em;
  margin: 1.55em 0;
  text-transform: uppercase;


}

.footer__links--column a:hover,
.footer__copyright a:hover {
  text-decoration: underline;
}

.footer__more {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(221, 221, 221);
  padding: 1.5em 0;
  margin: 0 auto;
  width: 90%;

  a,
  p {
    font-size: .875em;
    color: rgb(34, 34, 34);

  }

  span {
    padding-left: .5em;
    width: 1em;

  }
}


footer .anchor-underline {
  text-decoration: underline;
  padding-left: .4em;

}

.curency {
  padding-left: 1em;
}

.social__media {
  padding-left: 2em;

  a {
    padding-left: 1.5em;
  }

  a:hover {
    opacity: 60%;
  }

}

footer svg {
  height: 18px;
  width: 18px;
  display: block;
  fill: currentColor;
}