* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: bookAirbnb;
}

html {
  scroll-behavior: smooth;
}

.dn {
  display: none;
}

.db {
  display: block;
}

.df {
  display: flex;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: XMAirbnb;
  src: url("../Font/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2") format("woff2");
}

@font-face {
  font-family: bookAirbnb;
  src: url("../Font/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2") format("woff2");
}

@font-face {
  font-family: regular;
  src: url("../Font/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2") format("woff2");
}

@font-face {
  font-family: boldfont;
  src: url("../Font/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2") format("woff2");
}

.hero-section {
  height: 100%;
  width: 100%;
  background-size: cover;
  height: 130vw;
  overflow: hidden;
}

@media (min-width: 743px) {
  .hero-section {
    height: 80vw;
  }
}

@media (min-width: 950px) {
  .hero-section {
    height: Max(550px, Min(85vh, 56vw));
  }
}

.overlay {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25) !important;
  background-size: cover;
  inset: 0px !important;
  position: fixed !important;
}

.hero {
  width: 100%;
  height: 100%;
  background-image: url(../Images/Hero-2560.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

@media (max-width: 949px) {
  .hero {
    background-image: url(../Images/medium.jpg);
    background-position: center bottom;
    object-fit: cover;
  }
}

@media (max-width: 743px) {
  .hero {
    background-image: url(../Images/Small.jpg);
    background-size: cover;
    background-position: center top;
  }
}

.headermenu {
  width: 100%;
  position: fixed;
  z-index: 500;
}

.mobile-size-button {
  background-color: white;
  border: none;
  cursor: pointer;
  padding-left: 24px;
}

.mobile-size-input {
  border: none;
  background-color: white;
  color: #717171;
  padding-left: 18px;
}

.tinpmobile {
  margin-left: 20px;
}

.input:focus {
  outline: none;
}

.ptmobile {
  margin-left: 32px;
  margin-right: 32px;
}

.innerheader {
  padding-left: 80px;
  padding-right: 80px;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 10;
}

@media (min-width: 950px) {
  .innerheader {
    max-width: 1760px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1127px) {
  .innerheader {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 743px) {
  .innerheader {
    display: none;
  }
}

.adultstext, .guest, .title-input-menu {
  text-align: left;
}

.activemenu {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 12px !important;
}

.header-container {
  height: 80px;
}

.small-size-bgcolor {
  background-color: #FFFFFF !important;
  border: 1px solid #FFFFFF !important;
}

.small-size-header {
  display: none;
  flex: 1 1 0% !important;
  overflow: hidden !important;
  position: relative !important;
  align-items: center !important;
  white-space: nowrap !important;
  height: 48px !important;
  align-items: center !important;
  border-radius: 24px !important;
  flex-grow: 1 !important;
  margin-top: 16px !important;
  margin-left: 24px !important;
  margin-right: 24px !important;
  justify-content: center;
}

@media (max-width: 743px) {
  .small-size-header {
    display: flex;
  }
}

.small-size-header input {
  border: none;
}

.small-size-header svg {
  color: #ff385c;
}

.redColor {
  color: #ff385c !important;
}

.grayColor {
  color: #b0b0b0;
}

.ssize-header-container {
  width: 100%;
  z-index: 100;
  transition: background-color 0.4s cubic-bezier(0.35, 0, 0.65, 1) 0s;
  padding-bottom: 10px;
  position: fixed;
  top: 0px;
}

.gray-border-bottom {
  border-bottom: 1px solid #e2e2e2;
  transition: background-color 0.4s cubic-bezier(0.35, 0, 0.65, 1) 0s;
}

@media (max-width: 743px) {
  .ssize-back-color {
    background-color: white;
  }
  .ssize-back-color input {
    background-color: #f5f4f4;
  }
}

input:focus {
  outline: none;
}

.small-size-footer {
  align-items: center;
  background-color: white;
  border-top: 1px solid #dddddd;
  bottom: 0px;
  height: 65px;
  left: 0px;
  overflow: hidden;
  position: fixed;
  right: 0px;
  z-index: 101;
  transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s, visibility 0.2s ease 0s !important;
  display: none;
}

@media (max-width: 743px) {
  .small-size-footer {
    display: block;
  }
}

.inner-container-footer {
  justify-content: center;
  align-items: center;
  background-color: white;
  border-top: 1px solid #dddddd;
  bottom: 0px;
  height: 65px;
  left: 0px;
  overflow: hidden;
  position: fixed;
  right: 0px;
  z-index: 100;
  margin: 0px auto;
  max-width: 560px;
  transition: transform 0.2s cubic-bezier(0, 0, 0.1, 1) 0s, visibility 0s ease 0s !important;
}

.foo-link {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  outline: none;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  height: 64px;
  hyphens: auto;
  justify-content: center;
  max-width: 20%;
  min-width: 0px;
  padding: 0px 2px;
  text-align: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: #222222;
}

.foo-link:hover svg {
  color: #ff385c;
}

.foo-link:hover .small-footer-text {
  color: #222222 !important;
}

.-graytext {
  font-size: 10px;
  line-height: 12px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: 600;
  overflow-wrap: break-word;
}

.small-footer-text {
  font-size: 10px;
  line-height: 12px;
  max-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  font-weight: 600;
  overflow-wrap: break-word;
  color: #717171;
  padding-top: 5px;
}

.logo {
  display: none;
}

@media (max-width: 1127px) {
  .logo {
    display: block;
  }
}

.logoname {
  display: block;
}

@media (max-width: 1127px) {
  .logoname {
    display: none;
  }
}

.centerlinks {
  text-decoration: none;
}

@media (max-width: 1127px) {
  .centerlinks {
    font-size: 14px;
  }
}

@media (max-width: 949px) {
  .centerlinks {
    font-size: 16px;
  }
}

.clink {
  color: #fff;
  font-family: bookAirbnb !important;
  padding: 10px 16px !important;
  white-space: nowrap;
}

@media (max-width: 1127px) {
  .clink {
    padding: 10px 12px !important;
  }
}

@media (max-width: 949px) {
  .clink {
    padding-left: 0px;
  }
}

.exp:hover {
  opacity: 0.8;
  text-decoration: none;
}

.exp:hover:before {
  transform: scaleX(0.25);
  display: block;
}

.onlineexp:hover:before {
  transform: scaleX(0.25);
  display: block;
}

.onlineexp:hover {
  opacity: 0.8 !important;
  text-decoration: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.places::before {
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  transform: scaleX(1);
}

.onlineexp::before {
  display: none;
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  bottom: 0px;
  margin-left: -9px;
  position: absolute;
  transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  transform: scaleX(1);
}

.places.placesBlack::before,
.onlineexp.onlineexpBlack::before,
.exp.expBlack::before {
  background-color: #000;
}

.exp::before {
  display: none;
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  transform: scaleX(1);
}

.places,
.exp,
.onlineexp {
  position: relative;
}

.host {
  color: #fff;
  text-decoration: none;
  font-family: regular;
  padding: 12px;
  font-size: 14px;
  white-space: nowrap;
}

.sign-in-logo {
  width: 30px;
  height: 30px;
  color: #717171;
}

.hamburger-menu svg {
  stroke: #222222 !important;
}

.sign-in-button {
  padding: 5px 5px 5px 12px;
  border: 1px solid #fff;
  border-radius: 21px;
  height: 42px;
  position: relative;
  vertical-align: middle;
  transition: box-shadow 0.2s ease;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  border: 1px solid #DDDDDD !important;
}

.sign-in-button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.sign-in-logo {
  margin-left: 12px;
}

.hostcontainer {
  margin-right: 8px;
}

.right-menu {
  position: relative;
}

.right-menu,
.hostcontainer {
  align-items: center;
  flex: 0;
}

.language {
  padding: 12px 14px;
}

.host:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
}

.language:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
}

.mobile-top-menu {
  height: 100vh;
  width: 100vw;
  display: none;
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
}

.mobile-size-input {
  width: 100% !important;
  min-height: 1px !important;
  border: none !important;
  outline: none !important;
  color: #717171 !important;
  background-color: transparent !important;
  font-family: inherit !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  padding-left: 8px !important;
  text-overflow: ellipsis !important;
  padding-right: 36px !important;
  margin-left: 18px;
  margin-right: 36px;
}

.mobile-headercontainer {
  display: flex;
  padding-left: 8px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.whitemenu {
  background-color: #fff;
  border-radius: 32px;
  height: 66px;
  width: 850px;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all .2s;
  align-self: center;
}

@media (max-width: 949px) {
  .whitemenu {
    max-width: 850px;
    width: 90vw;
    transition: none;
  }
}

.whiteActive {
  height: 46px;
  width: 300px;
  margin-top: 16px;
  border: 1px solid #DDDDDD;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  color: #222222;
  cursor: pointer;
  transition: all .2s;
}

.whiteActive:hover {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px !important;
}

.add-dates {
  font-family: bookAirbnb;
  font-size: 14px;
  color: #717171;
  line-height: 18px;
  font-weight: 400;
}

.add-dates-s {
  font-family: bookAirbnb;
  font-size: 14px;
  color: #222222;
  line-height: 18px;
  font-weight: 400;
  width: 95px;
  white-space: nowrap;
}

.addellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95px;
}

.guest {
  background: transparent;
  border: 0px;
  cursor: pointer;
  padding: 14px 24px;
}

.check-in-container {
  color: #222222;
  text-align: left;
  flex: 1;
}

.check-out-container {
  color: #222222;
  text-align: left;
  flex: 1;
}

.location-container {
  color: #222222;
  text-align: left;
  margin-top: 0;
}

@media (max-width: 949px) {
  .location-container {
    flex: 1;
  }
}

@media (max-width: 743px) {
  .location-container {
    padding: 14px 24px;
  }
}

.onhover::after {
  align-self: center;
  border-right: 1px solid #dddddd;
  flex: 0 0 0px;
  height: 32px;
  content: "";
}

.location-container::after {
  align-self: center;
  border-right: 1px solid #dddddd;
  flex: 0 0 0px;
  height: 32px;
  content: "";
}

.onhover {
  cursor: pointer;
}

.onhover:hover::after {
  opacity: 0;
}

.check-in-container:hover ~ .location-container::after {
  opacity: 0;
}

.onhover:hover {
  background-color: #ebebeb;
  border-radius: 32px;
}

.guest-container:hover {
  background-color: #ebebeb;
  border-radius: 32px;
}

.guest-container.removeHover:hover {
  background-color: unset;
}

.guest-container {
  align-items: center;
  padding-right: 9px;
  border-radius: 32px;
  flex: 1.2;
  justify-content: space-between;
}

.check {
  padding: 14px 24px;
  width: 100%;
}

.location {
  padding: 14px 75px 14px 32px;
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
  min-width: 0px;
}

.txt-loc,
.txt-chin,
.txt-chout,
.txt-guest {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  font-family: boldfont;
}

.type-location:focus {
  outline: none;
}

.type-location::placeholder {
  font-family: bookAirbnb;
  font-size: 14px;
}

.type-location {
  width: 200%;
  line-height: 18px;
  color: #222222;
  text-overflow: ellipsis;
  outline: none;
  border: none;
  background-color: transparent;
}

.centerheader {
  display: flex;
  flex-direction: column;
  align-self: start;
  justify-content: center;
  max-width: 500px;
  padding: 0px !important;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  flex: 5;
}

@media (max-width: 1127px) {
  .centerheader {
    padding-left: 191px;
  }
}

@media (max-width: 949px) {
  .centerheader {
    position: absolute;
    transform: translateY(65px);
  }
}

.headermenu.active::before {
  background-image: unset;
}

.headerScroll {
  height: 180px;
}

@media (max-width: 949px) {
  .headerScroll {
    height: 244px !important;
  }
}

@media (max-width: 949px) {
  .centerScroll {
    transform: translate(-140px, 0px);
  }
}

.headermenu::before {
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  content: "";
  height: 140%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  transition: 150ms opacity ease;
  opacity: 0.4;
}

.idnafter {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0));
  content: "";
  height: 140%;
  left: 0px;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
  transition: opacity 150ms ease 0s;
}

.rmenuScrollHover:hover {
  background-color: #f7f7f7;
}

.hero-question {
  color: #222222;
  font-size: 18px;
  font-family: boldfont;
}

.hero-text {
  padding: 190px 80px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 949px) {
  .hero-text {
    padding: 250px 80px 40px;
  }
}

@media (max-width: 743px) {
  .hero-text {
    padding: 110px 35vw 40px;
    text-align: center;
  }
}

@media (max-width: 588px) {
  .hero-text {
    padding: 110px 32vw 40px !important;
    text-align: center;
  }
}

@media (max-width: 488px) {
  .hero-text {
    padding: 110px 25vw 40px !important;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .hero-text {
    padding: 110px 20vw 40px !important;
    text-align: center;
  }
}

.flexible-button {
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  background: lightgrey;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border: 1px, solid, black;
  border-radius: 54px;
  padding: 22px 60px;
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-top: 16px;
}

@media (max-width: 743px) {
  .flexible-button {
    padding: 14.5px 32px !important;
    z-index: 0;
  }
}

.flexible-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: regular;
  font-weight: 800;
  line-height: 20px;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flexible-button:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

.type-location::placeholder {
  color: #717171;
  font-size: 14px;
  font-family: regular;
  font-weight: 400;
}

.removeafter::after {
  display: none;
}

.search-button {
  padding-right: 9px;
  position: relative;
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1);
  color: #ffffff;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  border-radius: 24px;
  height: 48px;
  width: 48px;
  max-width: 48px;
  z-index: 0;
  background: #ff385c;
}

.searchBtnActive {
  position: absolute;
  right: 5px;
  display: flex;
  height: 32px;
  width: 32px;
  justify-content: center;
}

.search-button::before {
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1);
  z-index: 0;
  opacity: 0;
  border-radius: 24px;
}

.whitemenuText {
  align-self: center;
  margin-left: 20px;
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 600 !important;
  display: none;
}

.searchsvg {
  margin-left: 16px;
  margin-top: 16px;
  z-index: 200;
  position: absolute;
}

.searchsvgActive {
  height: 12px;
  width: 12px;
  margin: auto;
  margin-top: 8px;
}

.search-button:hover::before {
  opacity: 1 !important;
}

.main {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nearby {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 80px;
  padding-left: 80px;
  font-weight: 800;
  line-height: 52px;
  width: 100%;
  max-width: 1760px;
}

@media (max-width: 1127px) {
  .nearby {
    padding-left: 40px;
  }
}

@media (max-width: 743px) {
  .nearby {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 36px;
    margin-bottom: 48px;
  }
}

.nearby .nearby-title {
  font-size: 32px;
  color: #222222;
  font-family: boldfont;
  padding-left: 8px;
  font-weight: 700;
}

@media (max-width: 1127px) {
  .nearby .nearby-title {
    font-size: 26px;
  }
}

@media (max-width: 743px) {
  .nearby .nearby-title {
    font-size: 22px;
    padding-left: 0px;
  }
}

.nearby .nearbypics::-webkit-scrollbar {
  display: none !important;
}

.nearby .nearbypics {
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

@media (max-width: 1127px) {
  .nearby .nearbypics {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto) !important;
    grid-auto-flow: column !important;
    overflow-x: auto !important;
    padding: 0px;
    margin: 0px;
    padding-left: 8px;
  }
}

@media (max-width: 743px) {
  .nearby .nearbypics {
    overflow-x: scroll;
    gap: 12px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, calc(100% - 108px)) 100%;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
  }
}

.pic {
  scroll-snap-align: start;
}

.one .citypic {
  background-image: url("../Images/berlin.jpg");
}

.two .citypic {
  background-image: url("../Images/Hamburg.jpg");
}

.three .citypic {
  background-image: url("../Images/Cologne.jpg");
}

.four .citypic {
  background-image: url("../Images/Leipzig.jpg");
}

.five .citypic {
  background-image: url("../Images/D.webp");
}

@media (max-width: 1127px) {
  .six {
    display: none;
  }
}

@media (max-width: 743px) {
  .six {
    display: block;
  }
}

.six .citypic {
  background-image: url("../Images/Dresden.jpg");
}

@media (max-width: 1127px) {
  .seven {
    display: none;
  }
}

@media (max-width: 743px) {
  .seven {
    display: block;
  }
}

.seven .citypic {
  background-image: url("../Images/Nuremberg.jpg");
}

.eight .citypic {
  background-image: url("../Images/Hanover.jpg");
}

.city {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.citypic {
  margin-right: 16px;
  flex: 0 0 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
  background-color: #dddddd;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 64px 64px;
}

@media (max-width: 1127px) {
  .citypic {
    background-size: 72px 72px;
    height: 72px;
    flex: 0 0 72px;
  }
}

.piccaption {
  flex: 0 1 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
}

.cname {
  flex: 0 1 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
  font-family: boldfont;
}

.citytxt {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  font-family: regular;
  font-weight: 400;
}

.profilemenu {
  width: 240px;
  height: 243px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  right: 0;
  top: 45px;
  z-index: 500;
  padding: 10px;
  display: none;
}

.up {
  border-bottom: #dddddd solid 1px;
  margin-left: -10px;
  margin-right: -10px;
}

.up .sin {
  font-weight: 600;
}

.up,
.down {
  flex-direction: column;
}

.up a,
.down a {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  font-family: regular;
  margin: 15px;
}

.location-input-menu {
  display: none;
}

.location-input-menu {
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
  margin-top: 12px !important;
  max-height: calc(100vh - 220px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 16px 32px !important;
  width: 500px !important;
  height: 160px;
}

.title-input-menu {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  font-weight: 800;
  padding: 18px 32px 16px 12px !important;
}

.purple-text {
  -webkit-text-fill-color: transparent !important;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 18px;
  font-weight: 800;
}

.purple-flexible-container:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
}

.purple-flexible-container {
  -webkit-box-align: center !important;
  cursor: pointer;
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  padding: 8px 24px !important;
  margin-top: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  border-radius: 32px !important;
  height: 58px !important;
  border: 1px solid #dddddd !important;
}

.guest-menu {
  display: none;
  position: absolute !important;
  top: 100% !important;
  right: 0%;
  z-index: 1 !important;
  background: #FFFFFF !important;
  border-radius: 32px !important;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
  margin-top: 12px !important;
  max-height: calc(100vh - 220px) !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  padding: 16px 32px !important;
}

.plus-button {
  cursor: pointer;
}

.plus-button:hover {
  color: #222222 !important;
  border-color: #222222 !important;
  background: white !important;
}

#bordered {
  border-bottom: 1px solid #ebebeb !important;
}

.search-close {
  display: none;
}

.circle-close {
  appearance: none !important;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  border: none !important;
  outline: none !important;
  margin: 0px !important;
  padding: 0px !important;
  color: #222222 !important;
  cursor: pointer !important;
  touch-action: manipulation !important;
  position: relative !important;
  background: transparent !important;
  transition: transform 0.25s ease 0s !important;
  content: "" !important;
  position: absolute !important;
  top: 50% !important;
  left: 83% !important;
  transform: translate(-50%, -50%) !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  background: #ebebeb !important;
  z-index: 20;
}

.searchclass {
  background: linear-gradient(to right, #e61e4d 0%, #e31c5f 50%, #d70466 100%) !important;
  /* -webkit-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important; */
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important;
  /* will-change: opacity !important; */
  z-index: 0 !important;
  opacity: 1 !important;
  border-radius: 24px;
}

.searchAppear {
  display: none;
  position: absolute;
  margin-left: 40px;
  margin-top: 16px;
  z-index: 200;
}

.increaseWidth {
  max-width: 111px;
  width: 111px;
}

.age {
  -webkit-box-pack: justify !important;
  -webkit-box-align: center !important;
  color: #222222 !important;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  padding-right: 4px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  min-width: 330px !important;
}

.range {
  font-size: 14px !important;
  line-height: 18px !important;
  font-weight: 400 !important;
  color: #717171 !important;
}

.bold-adults {
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
}

.pointer {
  cursor: pointer;
}

.plus-minus {
  -webkit-box-pack: justify !important;
  -webkit-box-align: center !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 104px !important;
  height: 32px !important;
  color: #222222 !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 20px !important;
  cursor: pointer;
}

.plus-minus .input {
  border: none;
  font-size: 14px;
  margin: 0%;
  padding: 0%;
}

.plus-minus .ct {
  cursor: not-allowed !important;
}

.plus-minus .mbeffect {
  color: #ebebeb !important;
  border-color: #ebebeb !important;
  background: white !important;
}

.plus-minus button {
  -webkit-box-pack: center !important;
  -webkit-box-align: center !important;
  -webkit-box-flex: 0 !important;
  width: 32px !important;
  height: 32px !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  cursor: pointer !important;
  display: inline-flex !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: center !important;
  text-decoration: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #b0b0b0 !important;
  color: #717171 !important;
  font-family: inherit !important;
  outline: none !important;
  touch-action: manipulation !important;
  align-items: center !important;
  justify-content: center !important;
  background: white !important;
  border-radius: 50% !important;
}

.clickeffect {
  background-clip: padding-box !important;
  border: 1px solid white !important;
  border-radius: 32px !important;
  background-color: white !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px !important;
}

.imflexible-container {
  background: white;
  border-radius: 32px;
  margin-top: 12px;
  max-height: calc(100vh - 220px);
  overflow: hidden auto;
  padding: 16px 32px;
  display: none;
}

.flexActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stay, .go-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.stay-btn {
  cursor: pointer;
  text-align: center;
  border: 1px solid #b0b0b0;
  background-color: white;
  outline: none;
  margin: 0px;
  border-radius: 30px;
  color: #222222;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 16px;
  outline: currentcolor none medium !important;
}

.stay-btn:hover {
  border: 1px solid #222222;
}

.stayBtnActive {
  background-color: #f7f7f7;
  border: 1.5px solid black !important;
}

.fc-btns {
  margin-right: 4px;
}

.fc-d1 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #717171;
  padding-top: 8px;
  padding-bottom: 16px;
  margin: 0px;
}

.fc-d1 span {
  display: inline;
  font-weight: 800;
  color: #222222;
}

.go-in {
  margin-top: 24px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #717171;
  padding-top: 8px;
  padding-bottom: 16px;
}

.go-in span {
  font-weight: 800 !important;
  color: #222222 !important;
}

.fc-d3 {
  margin-top: 16px;
}

.fc-goin-btn {
  margin-right: 8px;
  margin-top: 4px;
  margin-bottom: 4px;
  cursor: pointer;
  text-align: center;
  border: 1px solid rgba(176, 176, 176, 0.5);
  background-color: white;
  outline: none;
  padding: 0px;
  margin: 0px;
  border-radius: 16px;
  color: #222222;
  font-size: 12px;
  line-height: 16px;
  width: 111px;
  height: 120px;
}

.activeMonth {
  background-color: #f7f7f7 !important;
  color: #222222 !important;
}

.fc-goin-btn img {
  width: 32px !important;
  height: 32px !important;
}

/********************************************helia-main2**********************************************/
/*Live anywhere- Helia**/
.main-two-2 {
  margin-top: 40px;
  width: 100%;
}

@media (max-width: 949px) {
  .main-two-2 {
    margin-top: 20px;
  }
}

.live-pic::-webkit-scrollbar {
  display: none !important;
}

.liveAnywhere {
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1760px;
  align-content: center;
  width: 100%;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 1127px) {
  .liveAnywhere {
    padding: 0 40px 0 40px;
  }
}

@media (max-width: 743px) {
  .liveAnywhere {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}

.liveAnywhere h1 {
  font-family: boldfont;
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  padding: 7px;
}

@media (max-width: 1127px) {
  .liveAnywhere h1 {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
  }
}

@media (max-width: 743px) {
  .liveAnywhere h1 {
    font-size: 22px;
  }
}

.liveAnywhere .live-pic {
  width: 100%;
  margin-top: 10px;
  scroll-behavior: smooth;
}

@media (max-width: 1127px) {
  .liveAnywhere .live-pic {
    scrollbar-width: none !important;
    height: 100% !important;
    overflow: auto hidden !important;
    margin-top: 0px !important;
    min-width: 100% !important;
    scroll-snap-type: x mandatory !important;
  }
}

.m-2-2-pic {
  flex-direction: column;
  max-width: 25%;
}

@media (max-width: 1127px) {
  .m-2-2-pic {
    max-width: 33.3333%;
    flex: 0 0 33.3333%;
    overflow: clip !important;
  }
}

@media (max-width: 743px) {
  .m-2-2-pic {
    max-width: 300px;
    width: 285px;
    flex: 0 0 auto;
    overflow: clip !important;
  }
}

.m-2-2-pic a {
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
}

@media (max-width: 743px) {
  .m-2-2-pic a {
    width: 272px;
  }
}

.m-2-2-pic a img {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 743px) {
  .m-2-2-pic a img {
    width: 272px;
  }
}

.m-2-2-pic a p {
  font-family: regular;
  color: #222222;
  font-size: 20px;
  padding-top: 8px;
}

@media (max-width: 743px) {
  .m-2-2-pic a p {
    font-size: 18px !important;
    line-height: 22px !important;
  }
}

#nextBtn {
  position: absolute;
  right: 30px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 1px 2px rgba(230, 202, 202, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  cursor: pointer;
  display: none;
}

@media (max-width: 1127px) {
  #nextBtn {
    display: block;
  }
}

@media (max-width: 743px) {
  #nextBtn {
    display: none;
  }
}

#prevBtn {
  position: absolute;
  left: 30px;
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 4px 12px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  display: none;
}

/********try hosting - Helia*********/
.main-two-3 {
  margin-top: 40px;
  width: 100%;
  font-family: regular;
}

.main-two-3 .m-2-3-container {
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1760px;
  height: 482px;
  cursor: pointer !important;
}

@media (max-width: 1127px) {
  .main-two-3 .m-2-3-container {
    height: 362px;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 743px) {
  .main-two-3 .m-2-3-container {
    height: 110vw;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.tryHosting {
  width: 100%;
  background-image: url(../Images/tryHosting-desktop.jpg);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  border-radius: 15px;
}

@media (max-width: 1127px) {
  .tryHosting {
    background-image: url(../Images/tryHosting-large.jpg);
  }
}

@media (max-width: 743px) {
  .tryHosting {
    background-image: url(../Images/tryHosting-mobile.jpg);
  }
}

.tryHosting a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.m-2-3-text {
  padding-left: 80px;
  padding-right: 80px;
  flex-direction: column;
  padding-top: 130px;
  max-width: 544px;
}

@media (max-width: 1127px) {
  .m-2-3-text {
    padding-left: 40px;
    padding-top: 80px;
  }
}

@media (max-width: 743px) {
  .m-2-3-text {
    padding: 32px 32px;
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
}

.m-2-3-text h1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 600;
  letter-spacing: 2px;
}

@media (max-width: 1127px) {
  .m-2-3-text h1 {
    font-size: 30px !important;
    line-height: 36px !important;
    letter-spacing: 0;
  }
}

.m-2-3-text p {
  padding-top: 12px;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1127px) {
  .m-2-3-text p {
    font-size: 16px !important;
    line-height: 20px !important;
    max-width: 280px;
  }
}

@media (max-width: 743px) {
  .m-2-3-text p {
    max-width: 433px;
  }
}

.m-2-3-text .lm {
  margin-top: 40px;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  font-size: 16px !important;
  line-height: 20px !important;
  padding: 14px 24px;
  display: inline-block;
  border-radius: 10px;
  width: max-content;
}

@media (max-width: 1127px) {
  .m-2-3-text .lm {
    padding: 9px 16px !important;
    margin-top: 36px;
    font-size: 14px !important;
    line-height: 18px !important;
    font-weight: 500 !important;
  }
}

@media (max-width: 743px) {
  .m-2-3-text .lm {
    margin-top: 18px;
  }
}

/**********Discover things to do - Helia**************/
.main-two-4 {
  margin-bottom: 30px;
  margin-top: 60px;
  width: 100%;
}

.discover-pics::-webkit-scrollbar {
  display: none !important;
}

.discoverThings {
  padding-right: 80px;
  padding-left: 80px;
  max-width: 1760px;
  width: 100%;
}

@media (max-width: 1127px) {
  .discoverThings {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 743px) {
  .discoverThings {
    padding-right: 24px;
    padding-left: 24px;
  }
}

.discoverThings h1 {
  font-family: boldfont;
  color: #222222;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  padding: 7px;
}

@media (max-width: 743px) {
  .discoverThings h1 {
    font-size: 22px;
    font-weight: 800;
    letter-spacing: -0.02em;
    line-height: 28px;
  }
}

.discoverThings div {
  width: 100%;
  margin-top: 10px;
}

@media (max-width: 743px) {
  .discoverThings div {
    margin: 0;
    width: 285px;
  }
}

.discover-pics {
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 743px) {
  .discover-pics {
    scrollbar-width: none !important;
    height: 100% !important;
    overflow: auto hidden !important;
    margin-top: 0px !important;
    min-width: 100% !important;
    scroll-snap-type: x mandatory !important;
  }
}

.m-2-4-pic {
  flex-direction: column;
  max-width: 33%;
}

@media (max-width: 743px) {
  .m-2-4-pic {
    max-width: 300px;
    flex: 0 0 auto;
    width: 272px;
    overflow: clip !important;
  }
}

.m-2-4-pic a {
  padding: 7px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.m-2-4-pic a img {
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 743px) {
  .m-2-4-pic a img {
    width: 272px;
  }
}

.m-2-4-pic a h5 {
  font-family: regular;
  color: #222222;
  font-size: 20px;
  padding-top: 8px;
}

@media (max-width: 743px) {
  .m-2-4-pic a h5 {
    font-size: 18px !important;
    line-height: 22px !important;
    max-height: 44px !important;
  }
}

.m-2-4-pic a p {
  font-family: regular;
  color: #717171;
  margin-top: 4px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@media (max-width: 743px) {
  .m-2-4-pic a p {
    font-size: 14px !important;
    line-height: 18px !important;
    max-height: 54px !important;
    color: #717171 !important;
    font-weight: 400 !important;
    margin-top: 4px !important;
  }
}

.pl0 {
  padding-left: 0px;
}

.pr0 {
  padding-right: 0px;
}

.container__inspiration {
  font-family: 'regular';
  padding: 0 5em;
  font-size: 0.875;
}

.container__inspiration h1 {
  padding: 1.1em 0;
  font-weight: 700;
  font-family: boldfont;
}

@media (max-width: 1127px) {
  .container__inspiration .distination__items {
    overflow: auto;
    white-space: nowrap;
    position: relative;
  }
}

.container__inspiration .btn-ins {
  font-family: 'regular';
  font-size: .876em;
  font-weight: 500;
  border-radius: 8px;
  border: medium none;
  margin: 1em 0;
  background: transparent none repeat scroll 0% 0%;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s, transform 0.1s ease 0s;
  outline: currentcolor none medium;
  padding-right: 1.5em;
  height: 40px;
  position: relative;
}

.container__inspiration .btn-ins:hover {
  cursor: pointer;
  background-color: #dddddd;
}

.container__inspiration .country {
  flex-wrap: wrap;
  padding-top: 1.5em;
  border-top: 1px solid #dddddd;
}

.container__inspiration .country a {
  color: #222222;
}

.container__inspiration .country .country__items {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

@media (max-width: 1127px) {
  .container__inspiration .country .country__items {
    flex-basis: 33.3%;
    width: calc(100% + 16px) !important;
  }
}

@media (max-width: 743px) {
  .container__inspiration .country .country__items {
    flex-basis: 50%;
  }
}

.container__inspiration .country .cites {
  flex-direction: column;
  margin-bottom: 2em;
}

.container__inspiration .country a:nth-child(2) {
  color: #717171;
  padding-top: 2px;
  font-size: 85%;
}

.container__inspiration {
  font-family: 'regular';
  padding: 0 5em;
  font-size: 0.875;
}

.container__inspiration h1 {
  padding: 1.1em 0;
  font-weight: 700;
  font-family: boldfont;
}

@media (max-width: 1127px) {
  .container__inspiration .distination__items {
    overflow: auto;
    white-space: nowrap;
    position: relative;
  }
}

.container__inspiration .ins-btn {
  font-family: 'regular';
  font-size: .875em;
  font-weight: 500;
  border-radius: 8px;
  border: medium none;
  margin: 1em 0;
  background: transparent none repeat scroll 0% 0%;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s, transform 0.1s ease 0s;
  outline: currentcolor none medium;
  padding-right: 1.5em;
  height: 40px;
  position: relative;
}

.container__inspiration .ins-btn:hover {
  cursor: pointer;
  background-color: #ebebeb;
}

.ins-btn::after {
  content: "";
  position: absolute;
  background-color: #222222;
  bottom: -15px;
  left: 10px;
  width: calc(100% - 20px);
  height: 2px;
}

.btn-ins.active {
  background-color: #ebebeb;
  font-weight: bold;
}

.container__inspiration .country {
  flex-wrap: wrap;
  padding-top: 1.5em;
  border-top: 1px solid #dddddd;
}

.container__inspiration .country a {
  color: #222222;
}

.container__inspiration .country .country__items {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

@media (max-width: 1127px) {
  .container__inspiration .country .country__items {
    flex-basis: 33.3%;
    width: calc(100% + 16px) !important;
  }
}

@media (max-width: 743px) {
  .container__inspiration .country .country__items {
    flex-basis: 50%;
  }
}

.container__inspiration .country .cites {
  flex-direction: column;
  margin-bottom: 2em;
}

.container__inspiration .country a:nth-child(2) {
  color: #717171;
  padding-top: 2px;
  font-size: 85%;
}

/* //----------------------------------footer Samira */
.footer {
  background-color: #f7f7f7;
  border-top: 1px solid #dddddd;
  font-family: regular;
}

.footer a {
  text-decoration: none;
}

.footer .footer__links {
  display: flex;
  padding: 2em 5em;
}

@media (max-width: 949px) {
  .footer .footer__links {
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 743px) {
  .footer .footer__links {
    flex-wrap: wrap;
  }
}

.footer .footer__links .footer__links--column {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

@media (max-width: 949px) {
  .footer .footer__links .footer__links--column {
    flex-wrap: wrap;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 743px) {
  .footer .footer__links .footer__links--column {
    flex-direction: column;
    flex-basis: 100%;
    border-bottom: 1px solid #dddddd;
  }
}

.footer .footer__links .footer__links--column a {
  color: #222222;
  padding-bottom: 1.4em;
  font-size: .875em;
}

@media (max-width: 949px) {
  .footer .footer__links .footer__links--column a {
    flex-basis: 33.3%;
  }
}

.footer .footer__links--column-title {
  font-size: .8em;
  margin: 1.55em 0;
  text-transform: uppercase;
}

@media (max-width: 949px) {
  .footer .footer__links--column-title {
    flex-basis: 100%;
  }
}

.footer .footer__links--column a:hover,
.footer .footer__copyright a:hover {
  text-decoration: underline;
}

.footer .footer__more {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #dddddd;
  padding: 1.5em 0;
  margin: 0 auto;
  width: 90%;
}

@media (max-width: 949px) {
  .footer .footer__more {
    align-items: center;
    flex-direction: column-reverse;
    border-top: none;
  }
}

@media (max-width: 743px) {
  .footer .footer__more {
    align-items: flex-start;
  }
}

@media (max-width: 949px) {
  .footer .footer__more .left {
    padding-top: 1.2em;
  }
}

.footer .footer__more a,
.footer .footer__more p {
  font-size: .875em;
  color: #222222;
}

.footer .footer__more span {
  padding-left: .5em;
  width: 1em;
}

.dn {
  display: none;
}

footer .anchor-underline {
  text-decoration: underline;
  padding-left: .4em;
  font-weight: 600;
}

.curency {
  padding-left: 1em;
}

.social__media {
  padding-left: 2em;
}

@media (max-width: 743px) {
  .social__media {
    display: none;
  }
}

.social__media a {
  padding-left: 1.5em;
}

.social__media a:hover {
  opacity: 60%;
}

footer svg {
  height: 18px;
  width: 18px;
  display: block;
  fill: currentColor;
}

.container-calendar {
  display: none;
  width: 800px;
  box-shadow: 1px 1px 1px 1px gray;
  min-height: 400px;
  z-index: 5;
  margin-top: 28px;
  background: white none repeat scroll 0% 0%;
  border-radius: 32px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 6px 20px;
  overflow: hidden auto;
  flex-direction: column;
  align-self: center;
}

.container-calendar .selection {
  width: 200px;
  background-color: #ebebeb;
  border-radius: 100px;
  height: 36px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.container-calendar .btn-tab {
  border-radius: 100px;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  font-weight: 500;
  line-height: 20px;
  border: none;
  background: white;
  color: #222222;
  padding: 5px 14px 6px;
  margin-top: 4px 6px;
  transition: box-shadow 0.2s ease 0s, transform 0.1s ease 0s 6px;
  position: relative;
  outline: none;
  cursor: default;
  cursor: pointer;
}

.container-calendar .btn-tab .btn-tab.active {
  background: white;
}

.container-calendar .btn-tab .btn-tab.active:hover {
  background-color: transparent;
}

.container-calendar .btn-day {
  cursor: pointer !important;
  text-align: center !important;
  border: 1px solid #222222 !important;
  outline: none !important;
  margin: 0px !important;
  border-radius: 30px !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
  position: relative !important;
  padding: 8px 16px !important;
  font-size: 12px !important;
  line-height: 16px !important;
  background-color: #f7f7f7 !important;
  color: #222222 !important;
  font-weight: 800 !important;
}

.btn-days {
  display: none;
}

.showCalendar {
  display: flex;
}
/*# sourceMappingURL=main.css.map */