* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.df {
  display: flex;
}

// -------font-face-------
@font-face {
  font-family: boldfont;
  src: url("/Font/KFOlCnqEu92Fr1MmEU9fBBc4.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: regular;
  src: url("/Font/KFOmCnqEu92Fr1Mu4mxK.woff2") format("woff2");
}
// ------hero section------

.hero-section {
  //width: 100vw;
  height: 558px;
  overflow: hidden;
}
.hero {
  width: 100%;
  height: 100%;
  background-image: url(/Images/Hero-2560.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  overflow: hidden;

  .headermenu {
    padding-left: 80px;
    padding-right: 80px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 10;
  }
}
.header-container {
  height: 80px;
}

.header-menu::before {
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  opacity: 0.4;
  content: "";
  height: 140%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0 !important;
  transition: 150ms opacity ease;
  height: 80px;
}
.logo {
  display: none;
}
.centerlinks {
  text-decoration: none;
}
.clink {
  color: #fff;
  font-family: "Roboto";
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
// .effect::before{
//   background-color: currentcolor !important;
//     border-radius: 1px !important;
//     bottom: 0px !important;
//     content: "" !important;
//     height: 2px !important;
//     left: 50% !important;
//     margin-left: -9px !important;
//     position: absolute !important;
//     -webkit-transform: scaleX(0) !important;
//     -ms-transform: scaleX(0) !important;
//     transform: scaleX(0) !important;
//     -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
//     -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
//     transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),0.2s transform cubic-bezier(0, 0, 0.1, 1) !important;
//     width: 18px !important;
// }

.exp:hover {
  opacity: 0.8;
  text-decoration: none;
}
.exp:hover:before {
  transform: scaleX(0.25);
  
  display: block;
}
.onlineexp:hover:before {
  transform: scaleX(0.25);
  display: block;
}
.onlineexp:hover {
  opacity: 0.8 !important;
  text-decoration: none;
}
.center {
  margin-left: 120px;
}
.places::before {
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.onlineexp::before {
  display: none;
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  bottom: 0px;
  margin-left: -9px;
  position: absolute;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.exp::before {
  display: none;
  background-color: #fff;
  border-radius: 1px;
  bottom: 0px;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -9px;
  position: absolute;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  -moz-transition: 0.2s transform cubic-bezier(0, 0, 0.1, 1);
  transition: 0.2s -ms-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s -webkit-transform cubic-bezier(0, 0, 0.1, 1),
    0.2s transform cubic-bezier(0, 0, 0.1, 1);
  width: 18px;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.places,
.exp,
.onlineexp {
  position: relative;
}
.host {
  color: #fff;
  text-decoration: none;
  font-family: boldfont;
  padding: 12px;
  font-size: 14px;
}
.sign-in-logo {
  width: 30px;
  height: 30px;
  color: #717171;
}
.sign-in-button {
  padding: 5px 5px 5px 12px;
  border: 1px solid #fff;
  border-radius: 21px;
  height: 42px;
  position: relative;
  vertical-align: middle;
  transition: box-shadow 0.2s ease;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
}
.sign-in-logo {
  margin-left: 12px;
}
.hostcontainer {
  margin-right: 8px;
}
.right-menu,
.hostcontainer {
  align-items: center;
}
.language {
  padding: 12px 14px;
}
.host:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
}
.language:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 22px;
}
.hamburger-menu {
  color: #222222;
}

.whitemenu {
  margin: 0 auto;
  max-width: 850px;
  background-color: #fff;
  border-radius: 32px;
  height: 66px;
  width: 100%;
  z-index: 11;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.add-dates {
  font-family: regular;
  font-size: 14px;
  color: #717171;
  line-height: 18px;
  font-weight: 400;
}
.guest {
  background: transparent;
  border: 0px;
  cursor: pointer;
  padding: 14px 24px;
}
.check-in-container {
  color: #222222;
  text-align: left;
  flex: 1;
}
.check-out-container {
  color: #222222;
  text-align: left;
  flex: 1;
}
.location-container {
  //flex: 1.5 0 0% ;
  color: #222222;
  text-align: left;
  margin-top: 0;
}
//to add the borderline between item
.onhover::after {
  -webkit-align-self: center;
  align-self: center;
  border-right: 1px solid #dddddd;
  -webkit-flex: 0 0 0px;
  -ms-flex: 0 0 0px;
  flex: 0 0 0px;
  height: 32px;
  content: "";
}
.location-container::after {
  -webkit-align-self: center;
  align-self: center;
  border-right: 1px solid #dddddd;
  -webkit-flex: 0 0 0px;
  -ms-flex: 0 0 0px;
  flex: 0 0 0px;
  height: 32px;
  content: "";
}
.onhover {
  cursor: pointer;
}
// to make the border line disappear on hover
.onhover:hover::after {
  opacity: 0;
}
.check-in-container:hover ~ .location-container::after {
  opacity: 0;
}

// to make the background gray on hover
.onhover:hover {
  background-color: #ebebeb;
  border-radius: 32px;
}
.guest-container:hover {
  background-color: #ebebeb;
  border-radius: 32px;
}

.guest-container {
  align-items: center;
  padding-right: 9px;
  border-radius: 32px;
  flex: 1.3;
  justify-content: space-between;
}
.check {
  padding: 14px 24px;
  width: 100%;
}
.location {
  padding: 14px 46px 14px 32px;
  cursor: pointer;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 32px;
  min-width: 0px;
}

.txt-loc,
.txt-chin,
.txt-chout,
.txt-guest {
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  font-family: boldfont;
}
.type-location:focus {
  outline: none;
}

.type-location {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #222222;
  text-overflow: ellipsis;
  outline: none;
  border: none;
  background-color: transparent;
}
.headermenu::before {
  background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0));
  content: "";
  height: 140%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: -1;
  -webkit-transition: 150ms opacity ease;
  -moz-transition: 150ms opacity ease;
  transition: 150ms opacity ease;
  opacity: 0.4;
}
.hero-question {
  color: #222222;
  font-size: 18px;
  font-family: boldfont;
}

.hero-text {
  padding: 160px 80px 40px !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexible-button {
  cursor: pointer;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  background: lightgrey;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border: 1px, solid, black;
  border-radius: 54px;
  padding: 22px 60px;
  transition: box-shadow 0.2s ease-out, -ms-transform 0.2s ease-out,
  -webkit-transform 0.2s ease-out, transform 0.2s ease-out;
  -webkit-tap-highlight-color: transparent !important;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  margin-top: 16px;
}
.flexible-text {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(90deg, #6f019c 0%, #c6017e 135.12%);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: regular;
  font-weight: 800;
  line-height: 20px;
  max-height: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flexible-button:hover {
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2) !important;
}
.type-location::placeholder {
  color: #717171;
  font-size: 14px;
  font-family: regular;
  font-weight: 400;
}

.search-button {
  padding-right: 9px;
  position: relative;
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important;
  color: #ffffff;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  border-radius: 24px;
  height: 48px;
  width: 48px;
  max-width: 48px;
  z-index: 0;
  background: rgb(255, 56, 92);

}

.search-button::before {
  background: -webkit-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
  background: -moz-linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
  background: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%) !important;
  bottom: 0px !important;
  content: "" !important;
  left: 0px !important;
  position: absolute !important;
  right: 0px !important;
  top: 0px !important;
  /* -webkit-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important; */
  -moz-transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important;
  transition: 0.2s opacity cubic-bezier(0.35, 0, 0.65, 1) !important;
  /* will-change: opacity !important; */
  z-index: 0 !important;
  opacity: 0 !important;
  border-radius: 24px;
}

.searchsvg {
  margin-left: 16px;
  margin-top: 16px;
  z-index: 200;
  position: absolute;
}
.search-button:hover::before {
  opacity: 1 !important;
}
// -------------------------------end Css hero-section sepideh
// -------------------------------start main one sepideh
.main {
 
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nearby {
  margin-top: 24px;
  margin-bottom: 24px;
  padding-right: 80px;
  padding-left: 80px;
  font-weight: 800;
   line-height: 52px;
  width: 100%;
  max-width: 1760px;
  .nearby-title {
    padding-bottom: 16px;
    font-size: 32px;
    color: #222222;
    font-family: boldfont;
  }
  .nearbypics {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: -8px !important;
  }
}
.one {
  .citypic {
    background-image: url("/Images/berlin.jpg");
  }
}
.two {
  .citypic {
    background-image: url("/Images/Hamburg.jpg");
  }
}
.three {
  .citypic {
    background-image: url("/Images/Cologne.jpg");
  }
}
.four {
  .citypic{
    background-image: url("/Images/Leipzig.jpg");
  }
}
.five {
  .citypic{
    background-image: url("/Images/D.webp");
  }
}
.six {
  .citypic{
    background-image: url("/Images/Dresden.jpg");
  }
}
.seven {
  .citypic{
    background-image: url("/Images/Nuremberg.jpg");
  }
}
.eight {
  .citypic{
    background-image: url("/Images/Hanover.jpg");
  }
}

.city {
  font-size: 16px;
  line-height: 20px;
  color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  text-decoration: none;
}
.citypic {
  margin-right: 16px;
  flex: 0 0 64px;
  height: 64px;
  border-radius: 8px;
  position: relative;
  background-color: rgb(221, 221, 221);
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 64px 64px;
}
.caption {
  flex: 0 1 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
}
.cname {
  flex: 0 1 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-bottom: 2px;
  font-family: boldfont;
}
.citytxt {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  font-family: regular;
  font-weight: 400;
}


// -------------------------------end main one sepideh
